NEXT_PUBLIC_APP_URL=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key


# Pinecone
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=your_pinecone_index_name

# Inngest Configuration (optional, defaults to dev server)
INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SIGNING_KEY=your_inngest_signing_key

# Hugging Face
HUGGING_FACE_API_URL=your_hf_endpoint_url   # e.g. https://api-inference.huggingface.co/models/…
HUGGING_FACE_API_TOKEN=your_hf_token

NODE_ENV=development